* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    height: auto;
    width: 100%;
    display: flex;
}

.background-text {
    height: 500px;
    width: 55%;
    background-color: #202020;
    text-align: right;
    padding: 0px 50px 0px 170px;
}

h1 {
    margin-top: 50px;
    padding-right: 25px;
    color: white;
    border-right: 4px solid orangered;
    /* border: 1px solid black; */
}

.text-1,
.text-2,
.text-3 {
    margin-top: 30px;
    line-height: 25px;
    color: white;
}

.icon {
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: orangered;
    background-color: white;
    left: 53.3%;
    top: 15.5%;
    /* text-shadow: 0px 0px 10px; */
    outline: 3px solid rgba(255, 255, 255, 0.3);
}

.icon2 {
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: white;
    color: orangered;
    left: 53.3%;
    top: 28%;
    /* text-shadow: 0px 0px 10px; */
    outline: 3px solid rgba(255, 255, 255, 0.3);
}
.icon3{
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: orangered;
    background-color: white;
    left: 53.3%;
    top: 40.3%;
    /* text-shadow: 0px 0px 10px; */
    outline: 3px solid rgba(255, 255, 255, 0.3);
}
.fa-solid {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* text-align: center; */
    line-height: 50px;
}

h3 {
    color: orangered;
}

.background-img {
    height: 500px;
    width: 45%;
    background-image: url(../photos/taskbg.jpg);
    background-size: 100% 100%;
}