* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    padding: 35px 20px;
    border: 1px solid black;
    text-align: center;
}
.spacing{
    height: 40px;
    width: 50px;
}