.container{
    height: 400px;
    width: 40%;
    position: relative; 
}

.container .image img{
    height: 400px;
    width: 100%;
}
.div1{
    height: 0;
    width: 0;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 100%;
    right: 100%;
    transition: 1s;
}
.div2{
    height: 0;
    width: 0;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    bottom: 100%;
    left: 100%;
    transition: 1s;
}
.container:hover .div1{
    height: 400px;
    width: 100%;
    top: 0;
    right: 0;
}
.container:hover .div2{
    height: 400px;
    width: 100%;
    bottom: 0;
    left: 0;
}