* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(4, 300px);
    gap: 15px 15px;
    background-color: black;
}

.item {
    height: auto;
    width: 100%;
    /* border: 1px solid red; */
}

.container .i-1 {
    height: 100%;
    grid-area: 1/1/2/10;
    background-image: url("../photos/gallery-1.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.container .i-2 {
    height: 100%;
    grid-area: 1/10/2/14;
    background-image: url("../photos/gallery-2.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* position: relative; */
}

.container .i-3 {
    height: 100%;
    grid-area: 2/1/3/4;
    background-image: url("../photos/gallery-3.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.container .i-4 {
    height: 100%;
    grid-area: 2/4/3/11;
    background-image: url("../photos/gallery-4.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.container .i-5 {
    height: 100%;
    grid-area: 2/11/3/14;
    background-image: url("../photos/gallery-5.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.container .i-6 {
    height: 100%;
    grid-area: 3/1/4/8;
    background-image: url("../photos/gallery-6.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.container .i-7 {
    height: 100%;
    grid-area: 3/8/4/14;
    background-image: url("../photos/gallery-7.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* border: 1px solid red; */
}

.container .i-8 {
    height: 100%;
    grid-area: 4/1/5/5;
    background-image: url("../photos/gallery-8.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* border: 1px solid red; */
}

.container .i-9 {
    height: 100%;
    grid-area: 4/5/5/10;
    background-image: url("../photos/gallery-9.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* border: 1px solid red; */

}

.container .i-10 {
    height: 100%;
    grid-area: 4/10/5/14;
    background-image: url("../photos/gallery-10.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* border: 1px solid red; */
}

.container .i-11 {
    height: 100%;
    grid-area: 1/14/5/17;
    color: white;
    text-align: right;
    padding: 20px;
    line-height: 40px;
    margin-top: 30px;
}

ul {
    margin-top: 25px;
}

li {
    list-style: none;
}
.fa-brands{
    margin-top: 25px;
    padding: 10px;
    font-size: 20px;
}
li:hover{
    color: orange;
}
@media(max-width: 700px){
    .container{grid-template-rows: repeat(6, 240px);  grid-template-columns: repeat(12, 1fr);}
    .container .i-1{grid-area: 2/1/3/7;}
    .container .i-2{grid-area: 2/7/3/13;}
    .container .i-3{grid-area: 3/1/4/7;}
    .container .i-4{grid-area: 3/7/4/13;}
    .container .i-5{grid-area: 4/1/5/7;}
    .container .i-6{grid-area: 4/7/5/13;}
    .container .i-7{grid-area: 5/1/6/7;}
    .container .i-8{grid-area: 5/7/6/13;}
    .container .i-9{grid-area: 6/1/7/7;}
    .container .i-10{grid-area: 6/7/7/13;}
    .container .i-11{grid-area: 1/1/2/13; text-align: center; }
    ul{
        display: flex;
        justify-content: center;
    }
    li{
        padding: 12px;
    }
}