* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main {
    height: 900px;
    width: 100%;
    position: relative;
}

.img {
    height: 1200px;
    width: 100%;
    background-image: url(../photos/banner5.jpg);
    /* background-size: 100% 100%; */
    background-size: contain;
    clip-path: polygon(0% 0%, 100% 0, 100% 50%, 50% 62%, 0 50%);
    position: absolute;
    filter: brightness(60%);
}

.header {
    /* border: 1px solid black; */
    height: 70px;
    width: 100%;
    display: flex;
}

.menu {
    display: flex;
    width: 100%;
    text-align: center;
    color: white;
}

.logo {
    /* display: flex; */
    width: 30%;
    text-align: center;
    line-height: 70px;
    font-size: 25px;
    font-weight: 900;
}

.logo::first-letter {
    font-size: 30px;
    color: red;
}

.list {
    width: 70%;
    margin-left: 100px;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
    text-align: center;
    /* border: 1px solid red; */
    line-height: 70px;
    transition: 1s;
}

li {
    padding-left: 40px;
    list-style: none;
    /* border: 1px solid blue; */
}

li:hover {
    color: red;
}

.text {
    margin-top: 100px;
    height: 6%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    /* line-height: 30px; */
    font-size: 20px;
    font-weight: 900;
    color: white;
    /* border: 1px solid red; */
}

.text2 {
    /* margin-top: 100px; */
    height: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* line-height: 50px; */
    /* text-align: center; */
    font-size: 50px;
    font-weight: 900;
    color: white;
    /* border: 1px solid black; */
}

.circle {
    background-color: white;
    border-radius: 50%;
    border: 2px solid red;
    height: 8px;
    width: 8px;
    margin: 10px auto;
    position: relative;
}

.circle::after {
    position: absolute;
    content: "";
    left: 0;
    top: 4px;
    margin-left: 20px;
    height: 2px;
    width: 150px;
    background-color: white;
}

.circle::before {
    position: absolute;
    content: "";
    right: 0;
    top: 4px;
    margin-right: 20px;
    height: 2px;
    width: 150px;
    background-color: white;
}

.para {
    /* height: 80px; */
    width: 40%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    /* border: 1px solid black; */
    margin-left: 30%;
    /* position: absolute; */
}

.btn {
    height: 80px;
    width: 100%;
    text-align: center;
    /* padding-top: 40px; */
    /* margin-left: 30%; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
}

.button {
    padding: 10px 25px;
    border: 1px solid red;
    background-color: red;
    text-align: center;
    color: white;
    transition: 0.5s;
    border-radius: 4px;
}

.button2 {
    margin-left: 20px;
    padding: 10px 25px;
    border: 1px solid white;
    text-align: center;
    color: white;
    transition: 0.5s;
    border-radius: 4px;
}

.button2:hover {
    background-color: red;
    border: 1px solid red;
}

.icon {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 80%;
    left: 48.5%;
    border-radius: 50%;
    background-color: white;
    /* outline: 1px solid black; */
    /* outline-offset: 2px; */
    box-shadow: 2px 2px 15px lightgray;
}

.icon .fa {
    position: absolute;
    color: crimson;
    padding: 13px;
}





.grid {
    height: auto;
    width: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 320px);
    gap: 25px 0px;
    background-color: rgba(0, 0, 0, 0.1);
}

.item {
    height: auto;
    width: 100%;
    border: 1px solid red;
    background-color: white;
}

.icon2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.5);
    /* border: 1px solid black; */
}

.text2 {
    /* height: 100px; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    color: black;
    /* border: 1px solid black; */
}
.para2 {
    /* height: 100px; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    /* border: 1px solid black; */
}



.mains{
    display: flex;
    justify-content: space-around;
}
.parents {
    margin-top: 50px;
    /* border: 1px solid black; */
    width: 20%;
    text-align: center;
    position: relative;
}

.boxs{
    position: relative;
    border: 1px solid red;
    height: 80px;
    width: 80px;
    margin-left: 36%;
    transition: 0.6s;
}

.parents .fa-brands, .fa-regular, .fa-solid{
    position: absolute;
    top: 30px;
    left: 135px;
    font-size: 18px;
    color: red;
}

.boxs:hover {
    transform: rotate(45deg);
}
h3 {
    position: relative;
    transition: 0.7s;
}

h3::after {
    content: "";
    height: 1px;
    top: 30px;
    right: 110px;
    width: 23%;
    position: absolute;
    background-color: black;
}